/* COMMON CSS START */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1034px;
    margin: auto;
    padding: 50px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
    margin-top: 26px;
}
.parent {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    text-align: center;
    height: 310px;
    transform: rotate(45deg);
    border-radius: 20px;
}
.box {
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
}
/* COMMON CSS END */

/* OUR SERVICES START */
#our_services {
    background: linear-gradient(0deg, rgba(255,255,255,1) 53%, rgba(43,145,217,1) 53%);
    height: 100vh;
}
.heading{
    text-align: center;
    padding: 50px;
    font-size: 35px;
    color: aliceblue;
}
span i{
    color: #2b91d9;
    font-size: 30px;
    padding: 10px;
}
i{
    font-size: 30px;
    margin-top: 10px;
    transition: 0.5s all linear;
}
i:hover{
    color: #2b91d9;
}
h4{
    color: #2b91d9;
    font-size: 15px;
}
.car_insurance {
    width: 33%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: -130px;
}
.home_insurance {
    width: 33%;
    background-color: aliceblue;
    position: absolute;
}
.cash_in_save {
    width: 33%;
    background-color: aliceblue;
    position: absolute;
    right: -130px;
}
.engineering_insurance {
    width: 33%;
    background-color: aliceblue;
    position: absolute;
    top: 267px;
    right: 89px;
}
.shippingr_insurance {
    width: 33%;
    background-color: aliceblue;
    position: absolute;
    top: 267px;
    left: 89px;
}
/* OUR SERVICES END */
